@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=PT+Sans+Narrow:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Port+Lligat+Sans&family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yatra+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins";
    transition: all 0.5s ease;
}

input {
    outline: none;
    padding-left: 1rem;
}

li {
    list-style: none;
}
body{
    width: 100%;
    overflow-x:hidden;
}

.hader {
    width: 100%;
    background-color: #fff;
}

.navbar {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding-left: 10rem;
    padding-right: 10rem;
    z-index: 1000;
}
.navbarSkroll{
    height: 100px;
    background-color: #ffffffe2;
}
.navbar-centr ul {
    display: flex;
    gap: 3rem;
}

.navbar-centr ul li a {
    color: #44454A;
}

.navbar-centr ul li:active {
    transform: scale(1.1);
}

.navbar-centr ul li a:hover {
    color: #96969E;
}

.navbar-left-button a {
    padding: 15px 40px;
    color: #F98F75;
    border: 1px solid #F98F75;
    background-color: transparent;
    border-radius: 30px;
    font-size: 15px;
}

.navbar-left-button a:hover {
    color: #fff;
    background-color: #F98F75;
    box-shadow: 0px 0.5em 0.1em #f98f7528;
}

.navbar-left-button:active {
    transform: scale(1.1);
}

.navbar-left-button:active a {
    color: #fff;
    background-color: #F98F75;
    box-shadow: 0px 0.5em 0.1em #f98f7528;
}

.bars {
    width: 40px;
    height: 40px;
    position: relative;
    display: none;
    opacity: 0;
    cursor: pointer;
    bottom: 0.5rem;
    transform: scale(0.8);
}

.bars span {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #222;
    position: absolute;
}

.bars span::before {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #222;
    position: absolute;
    top: 1rem;
}

.bars span::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #222;
    position: absolute;
    top: 2rem;
}

.res span {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #222;
    position: absolute;
    transform: rotate(50deg);
    top: 1rem;
}

.res span::before {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #222;
    position: absolute;
    top: -0.1rem;
    transform: rotate(70deg);
}

.res span::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #222;
    position: absolute;
    top: 2rem;
    opacity: 0;
}

@media only screen and (max-width:1316px) {
    .navbar {
        padding-left: 3rem;
        padding-right: 3rem;
        position: absolute;
        z-index: 100;
    }
}

@media only screen and (max-width:1010px) {
    .navbar-centr {
        width: 90%;
        height: fit-content;
        top: -100rem;
        right: 1rem;
        position: absolute;
        padding-top: 3rem;
        padding-bottom: 3rem;
        border: 1px solid #2222221b;
        box-shadow: 0px 0px 0.3em #2222221b;
        z-index: 1;
        background-color: #fff;
    }

    .navbar-centr ul {
        width: 100%;
        flex-direction: column;
        gap: 1.5rem;
    }

    .navbar-centr ul li {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .navbar-centr ul li a {
        text-align: center;
        font-weight: 600;
    }

    .navbar-left-button a {
        display: none;
    }

    .bars {
        display: block;
        opacity: 1;
    }

    .item {
        top: 9rem;
        animation: item 1s linear;
    }

    @keyframes item {
        from {
            top: -30rem;
        }

        to {
            top: 9rem;
        }
    }
}

/* baner */
.baner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 11rem;
    padding-right: 10rem;
    padding-top: 15rem;
    position: relative;
    z-index: 1;
}

.baner-lable {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: scale(1.1);
}

.baner-img {
    width: 55%;
}
.baner-img img{
    width: 100%;;
}

.baner-lable-1 {
    font-size: 3rem;
    color:#2A385D;
    font-weight: 600;
    line-height: 3.5rem;
    margin-bottom: 1rem;
}
.baner-lable-2{
    width: 74%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 3rem;
    color: #9999A1;
}

.baner-lable a {
    padding: 10px 30px;
    color: #F98F75;
    border: 1px solid #F98F75;
    background-color: transparent;
    border-radius: 30px;
    font-size: 15px;
}

.baner-lable a:hover {
    color: #fff;
    background-color: #F98F75;
    box-shadow: 0px 0.5em 0.1em #f98f7528;
}

.baner-lable:active {
    transform: scale(1.1);
}

.baner-lable:active a {
    color: #fff;
    background-color: #F98F75;
    box-shadow: 0px 0.5em 0.1em #f98f7528;
}
.baner-bg{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    left: 0;
}
.baner-bg img{
    position: absolute;
    top: -40%;
    right:-0%;
}
@media only screen and (max-width:1316px) {
    .baner {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
@media only screen  and (max-width:1010px){
    .baner{
        flex-direction: column-reverse;
        padding-top: 90vh;
    }
    .baner-img{
        width: 100%;
    }
    .baner-lable{
        width: 100%;
        align-items: center;
        text-align: center;
    }
}
@media only screen and (max-width:979px) {
    .baner{
        padding-top: 20vh;
    }
    .baner-bg img{
        top: -30%;
        right: -30%;
    }
}
@media only screen and (max-width:750px) {
    .baner{
        padding-top: 20vh;
    }
    .baner-bg img{
        top: -10%;
        right: -60%;
    }
    .baner-bg{
        display: none;
    }
}
@media only screen and (max-width:513px) {
    .baner-lable-1{
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .baner{
        gap: 4rem;
    }
    .baner-lable-2{
        font-size: 0.9rem;
        line-height: 1.2rem;
    }
    .baner-button a{
        font-size: 13px;
    }
    .baner-bg img{
        top: -20%;
        right: -0%;
    }

}
@media only screen and (max-width:890px) {
    .baner-bg img{
        display: none;
    }
}

/* manage */
.manage{
    width: 100%;
    display: flex;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 6rem;
    gap: 3rem;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.manage-blog-1-lable-1{
    color: #2A385D;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.manage-blog-1-lable-2{
    color: #96969E;
    font-weight:400;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.about-lable-2{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: end;
}
.about-lable-2-blog-1{
    width: 70%;
    display: flex;
    gap: 2rem;
}
.about-lable-2-blog-1-number{
    width: 100%;
    height: 35px;
    background-color: #F1613E;
    border-radius: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-lable-2-blog-1-lable-1{
    color: #000;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.about-lable-2-blog-1-lable-2{
    font-size: 0.9rem;
    color: #AAAAB2;
}
.about-number-lable{
    display: none;
}
.about-number{
    width: 50%;
}

@media only screen and (max-width:1316px) {
    .manage{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
@media only screen  and (max-width:1010px){
    .manage{
        flex-direction: column;
        padding-right: 0;
    }
    .about-lable-2{
        gap: 4rem;
    }
    .about-lable-2-blog-1{
        width: 100%;
        height: 20%;
        flex-direction: column;
    }
    .about-lable-2-blog-1-number{
        width: 100%;
    }
    .about-number{
        width: 100%;
        display: flex;
    }
    .about-number-lable{
        width: 80%;
        height: 38px;
        display: block;
        font-size: 1rem;
        color: #000;
        background-color: #FFF0EB;
        padding-left: 1rem;
        display: flex;
        align-items: center;
    }
    .about-lable-2-blog-1-number{
        width: 20%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .about-lable-2-blog-1-lable-1{
        display: none;
    }
}
@media only screen and (max-width:400px) {
    .about-number-lable{
        font-size: 0.9rem;
    }
    .manage-blog-1-lable-2{
        text-align: center;
    }
    .manage-blog-1-lable-1{
        text-align: center;
    }
    .galery-blog-lable-1{
        font-size:2rem ;
    }
}
/* galery */
.galery{
    width: 100%;
    height: fit-content;
    margin-bottom: 4rem;
}
.swiper {
    width: 100%;
    height: 600px;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    height: 250px;
}
.swiper-slide{
    width: 400px;
}
.swiper-wrapper{
    padding-left: 7rem;
}
.slide1{
    height: 200px;
    background-color:#FAFAFA;
    display: flex;
    box-shadow: 0px 0px 1.5em #d6d6d6;
}
.galery-blog-lable-1{
    text-align: center;
    font-size: 3rem;
    color: #222;
    font-weight: 600;
    margin-bottom: 7rem;
}
.swiper-button-next{
    top: 60% !important;
    color: #F98F75 !important;
}
.galery-blog-1{
    width: 700px !important;
}
.swiper-button-prev{
    top: 60% !important;
    color: #F98F75 !important;
}
.swiper-pagination-bullet {
    background-color: #F1613E!important; 
  }
  .galery-blog-img{
    width: 100%;
  }
  .galery-blog-img img{
    position: absolute;
    left: 40%;
    top: -10%;
    border: 2px solid #F98F75;
    border-radius: 50%;
  }
  .galery-blog-lable{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 9rem;
    flex-direction: column;
    width: 100%;
    
  }
  .galery-blog-laqble-1{
    color: #A2A1A6;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    width: 80%;
  }
  .galery-blog-laqble-2{
    text-align: center;
    font-size: 1.2rem;
    color: #222;
    margin-bottom: 1rem;
  }
  .galery-button{
    width: 100%;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
  }
  .galery-button a {
    padding: 10px 30px;
    color: #F98F75;
    border: 1px solid #F98F75;
    background-color: transparent;
    border-radius: 30px;
    font-size: 15px;
}

.galery-button a:hover {
    color: #fff;
    background-color: #F98F75;
    box-shadow: 0px 0.5em 0.1em #f98f7528;
}

  @media only screen and (max-width:792px) {
    .swiper-wrapper{
        padding-left: 0rem;
    }
  }
  @media only screen and (max-width:500px) {
    .slide1{
        width:  100% !important;
    }
    .galery-blog-laqble-1{
        width: 300px;
        font-size: 14px;
    }
  }
  @media only screen and (max-width:500px){
    .galery-blog-img img{
        left: 35%;
    }
  }
  /* team */
  .team{
    width: 100%;
    height: 35vh;
    background-color: #F3613C;
    display: flex;
    padding-left: 10rem;
    padding-right: 10rem;
    justify-content: space-between;
    align-items: center;

  }
  .team-lable{
    width: 50%;
  }
  .team-lable-1{
    width: 100%;
    font-size: 3rem;
    color: #ffff;
    line-height: 3.2rem;
    font-weight: 400;
  }
  .team-button a {
    padding: 20px 35px;
    color: #ffff;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    border-radius: 30px;
    font-size: 15px;
}

.team-button a:hover {
    color: #F3613C;
    background-color: #ffff;
    box-shadow: 0px 0.5em 0.1em #f98f7528;
}

.team-button:active {
    transform: scale(1.1);
}
@media only screen and (max-width:1316px) {
    .team {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
@media only screen and (max-width:1021px) {
    .team{
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }
    .team-lable{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .team-lable-1{
        width: 70%;
    }
}
@media only screen and (max-width:570px) {
    .team-lable-1{
        font-size: 2rem;
        line-height: 2.3rem;
    }
}
@media only screen and (max-width:390px) {
    .team{
        height: 45vh;
    }
    .team-lable-1{
        font-size: 1.5rem;
    }
    .team-button a{
        padding: 10px 20px ;
        font-size: 12px;
    }
}
/* futer */
.futer{
    width: 100%;
    height: fit-content;
    padding-top: 2rem;
    padding-bottom: 6rem;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 10rem;
}
.futer-in{
    width: 100%;
    background-color: #222;
    display: flex;
    justify-content: space-between;
}
.futer-list-1 li:last-child a{
    font-size: 23px;
    color: #fff;
    margin-left: 0.5rem;
}
.futer-list-1 ul {
    height: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.futer-list-2{
    width: 28%;
}
.futer-items{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.futer-item-1{
    width: 50%;
}
.futer-item-1 ul{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding-top: 1rem;
}
.futer-item-1 ul li a{
    color: #FEFFFF;
    font-weight: 400;
    font-size: 16px;
}
.futer-item-1 ul li a:hover{
    color: #F1613E;
}
.futer-item-2{
    padding-top: 1rem;
}
.futer-item-2 ul {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
.futer-item-2 ul li a{
    color: #FEFFFF;
    font-weight: 400;
    font-size: 16px;
}
.futer-item-2 ul li a:hover{
    color: #F1613E;
}
.futer-list-3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 2rem;
}
.futer-input{
    display: flex;
    gap: 1rem;
}
.futer-input input{
    width: 250px;
    height: 50px;
    border-radius: 30px;
    border: 0px;
    color: #F3613C;
    padding-left: 2rem;
    outline:  1PX solid #F1613E;
}
.futer-input a{
    padding: 15px 25px ;
    background-color: #F1613E;
    color: #fff;
    border-radius: 30px;
}
.futer-input a:hover{
    background-color: #fff;
    color: #F1613E;
    border: 1px solid #F3613C;
}
.futer-input input::placeholder{
    color: #F3613C;
}
.futer-input-lable-1{
    color: #d6d6d6;
}
.futer-medio-lable{
    display: none;
}
@media only screen and (max-width:1316px) {
    .futer {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
@media only screen and (max-width:1010px) {
    .futer-in{
        flex-direction: column-reverse;
        gap: 2rem;
    }
    .futer-list-1{
        width: 100%;
        padding-top: 5rem;
        
    }
    .futer-list-1 ul{
        height: 100px;
        flex-direction: column-reverse;
        gap: 2rem;
    }
    .futer-list-2{
        width: 100%;
    }
    .futer-list-3{
        width: 100%;
        gap: 2rem;
    }
    .futer-input{
        width: 100%;
        gap: 1rem;
    }
    .futer-input input{
        width:80%;
    }
    .futer-icons{
        display: flex;
        gap: 2rem;
    }
    .futer-icons a{
        font-size: 30px;
        color: #d6d6d6;
    }
    .futer-input-lable-1{
        display: none;
    }
    .futer-medio-lable{
        display: block;
    }
    .futer-medio-lable-1{
        font-size: 1rem;
        color: #fff;
    }
}
@media only screen and (max-width:400px) {
    .futer-list-1{
        padding-top: 7rem;   
    }
    .futer-medio-lable-1{
        font-size: 0.8rem;
    }
}
@media only screen and (max-width:608px) {
    .team{
        height: fit-content;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .team-button a{
        padding: 15px 25px ;
    }
}